TOKEN_VOZNJE=
CHANNEL_ID_VOZNJE=@muharedvoznje
API_URL=https://www.srbvoz.rs/wp-json/wp/v2/info_post?per_page=100
GITHUB_GIST_ID=128e4aad56fcaf3663ad45d2a543ef2f
GITHUB_GIST_FILENAME=voznje.txt
GITHUB_TOKEN=
